*{
    margin: 0;
    padding: 0;
}
#menu{
    position: relative;
}
#cabecera{
    background-color: #DCDCE0;
    
}
#menuCabecera{
    list-style-type:none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10px 20px 0;
  
}
#menuCabecera li{
   
  margin-left: 1px;
     
}
#menuCabecera li a{
    
    text-decoration: none;
    color: brown;
    font-weight: bold;
    
}
#contenidoPortada{
    position: relative;
}
#bordeAzul{
    background-color:#041047;
    width: 20%;
    height: 40%;
    right: 1%;
    top: -3%;
    position:absolute;
    z-index: 0;
}

#imagenColegio{
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 10;
}
#contenidoPortadaPortal{
  
    background-color: #DCDCE0;
}
#datosPortada{
    width: 30%;
    margin-left: 5%;
    background-color: #091964;
    border-radius: 5%;
    padding: 10px;
    position:absolute;
    bottom: -10%;
    z-index:15;
}
@media screen and (max-width:600px){
    #bordeAzul{
        display: none;
    }
    #datosPortada{
        width: 30%;
        background-color: #091964;
        padding: 10px;
     
    }
}
h3{
    color: #DFC20C;
    font-weight: bold;
    text-align: center;
}
#datosPortada p{
    text-align: justify;
    color: #FFFFFF;
    
    padding-bottom: 15px;
    
    
}
#botonPortada{
    text-align: center;
    background-color:#F19A3E ;
    border-radius: 10px;
    font-weight: bold;
    padding: 2%;
    width: 50%;
    margin: 0 auto;
}
#botonPortada:hover{
    cursor: pointer;
    background-color:#B69D00 ;
    color: #041047;
}
#espacio{
    height: 120px;
    background-color: #CCCCCC;
}
#cuerpo{
   background-color: #041047; 
   width: 100%;
   padding-bottom: 50px;
   
   
}
#cuerpoAnuncio{
    display: flex;
    padding: 10px 0px 0px 40px ;
    width: 80%;
    align-items: center;
    align-content: center;
    margin: 0 auto;
  
    
}
#marcoAnuncioCuerpo{
    flex: 20%;
    text-align: center;
    position: relative;
    background-color: #DCDCE0;
    width: 20%;
    margin: 20px;
    padding: 15px;
   
}
#marcoAnuncioCuerpo img{
    
    border:2px solid #041047;
    border-radius: 25px;
}
#marcoAnuncioCuerpo p{
    text-align: justify;
    padding-bottom: 10px;
}
.marcoAnuncioCuerpo-1{
      
    top: -60px;   
}
.marcoAnuncioCuerpo-2{
      
    top: -80px;   
}
h2{
    color: #F1D93E;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 28px;
}
footer{
    
    background-color: #333333;
    
}
#margenFooter{
    width: 80%;
    margin: 0 auto;
    padding: 15px;
    display: flex;
}
footer{
    color: #CCCCCC;
}
#menuFooter{
    flex: 30%;
    
}
#datosEmpresa{
    flex: 30%;
}
#formularioEmpresa{
    flex: 30%;
}
h4{
    padding-bottom: 20px;
}
input[type=text]{
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
}

nav a{
    color: #CCCCCC;
    text-decoration: none;
    line-height: 45px;
    display: flex;
    flex-direction: column;
    
}