<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Document</title>
</head>
<body>
  <form action="/insertar" method="post">
<input type="text" name="nombre" id="nombre">
<input type="text" name="correo" id="correo">
<input type="text"  name="detalle" id="detalle">
<input type="text" name="telefono" id="telefono">
<input type="submit" value="GUARDAR REGISTRO">
  </form>
 
</body>
</html>